*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

.menu{
    background:#111827;
    padding:20px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,.5);
}

.menu a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.menu a:hover{
    color:#00ff88;
    text-shadow:0 0 10px #00ff88;
}

.contenido{
    padding:30px;
    text-align:center;
}